<div class="home-banner">
  <h1>Connection Turquie</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-2">
    </div>
    <div class="col-6">
      <p>Ayant 25 ans et habitant en Turquie depuis 2 ans, je vous propose de découvrir la langue et la culture turque</p>
    </div>
    <div class="col-4">
      <%= image_tag "Zach.jpg", alt: "Zach", width: 300 %>
    </div>
  </div>
</div>

<%= image_tag "Mosquee_Bleue.jpg", alt: "Mosquee Bleue", width: 200 %>
<%= image_tag "Tour_de_Leandre.jpg", alt: "Tour de Leandre", width: 200 %>
<%= image_tag "FSM_bridge.jpg", alt: "FSM Bridge", width: 200 %>
<%= image_tag "15_Temmuz_köprüsü.jpg", alt: "15 Temmuz Köprüsü", width: 200 %>
<%= image_tag "Istanbul_skyline.jpg", alt: "Istanbul Skyline", width: 200 %>

<%= image_tag "Meme.jpg", alt: "Meme", width: 200 %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 mt-30">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <div class="col-6 mt-30">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
  </div>
</div>
